In [4]:
from DataHandler import DataHandler

def main():
    filename = 'Dataset.csv'
    feature_names = [
        'Height',
        'Weight'
    ]
    class_name = 'T'
    train_percent = 65
    n_neighbors = 5
    
    handler = DataHandler(filename, feature_names, class_name)
    handler.process_data()
    handler.train_test_split(train_percent)
    handler.KNeighborsClasify(n_neighbors)
    
    
    
if __name__ == "__main__":
    main()

Distances of nearest neighbors by test instance:

 [[3.0, 3.1622776601683795, 4.242640687119285, 5.0990195135927845, 5.385164807134504], [3.1622776601683795, 3.605551275463989, 3.605551275463989, 5.0990195135927845, 5.385164807134504], [3.1622776601683795, 5.0, 5.385164807134504, 5.830951894845301, 7.0710678118654755], [5.0990195135927845, 5.385164807134504, 5.385164807134504, 7.0710678118654755, 7.280109889280518], [5.0990195135927845, 5.385164807134504, 5.830951894845301, 7.0, 7.615773105863909], [5.830951894845301, 7.810249675906654, 8.06225774829855, 8.602325267042627, 9.899494936611665]]


Indexes of nearest neighbors by test instance:

 [[10, 9, 11, 6, 5], [10, 9, 11, 8, 6], [11, 10, 8, 9, 6], [10, 9, 11, 8, 6], [11, 10, 9, 8, 6], [11, 10, 8, 9, 6]]


Class label obtained by test instance:

 ['L', 'L', 'L', 'L', 'L', 'L']

In [5]:
import pandas as pd
df = pd.read_csv('Dataset.csv')
df

    Height  Weight  T
0      158      58  M
1      158      59  M
2      158      63  M
3      160      59  M
4      160      60  M
5      163      60  M
6      163      61  M
7      160      64  L
8      163      64  L
9      165      61  L
10     165      62  L
11     165      65  L
12     168      62  L
13     168      63  L
14     168      66  L
15     170      63  L
16     170      64  L
17     170      68  L